.no-after::after {
    display: none!important;
}
body#kt_body.swal2-height-auto {
    height: 100%!important
}
.absolute_loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, .5);
}